:root {
    --mainRedColor: #720418;
    --mainOrangeColor: #E16A00;
    --mainBeigeColor: #FFFAF5;
    --main-Red-bg-color: #720418;
    --main-Orange-color: #E16A00;
    --main-btn-color:#ff8b00;
    --footerColor: #391f00;
    --mainPage-white-bg-color: #fffaf5;
    --mainFont: 'Montserrat', sans-serif; 
    --btn-font-family:'Pragati Narrow', sans-serif;
    --white-table-color:#F9FAFC;
    --catalogBlackColor:#241400;
}